{% extends "template.njk" %}

{% block content %}
    <div class="container">
        <h5><span style="color:#41679f">Band Level: </span><span style="color:#575756">{{data.bandName}}</span></h5>
    </div>
{% endblock %}