{% extends "template.njk" %}

{% block content %}
    <div class="container">
        <div class="divider"></div>
        {% for item in items %}
            <div class="section">
                <h5 style="color:#009fe3"><a id="bands-{{item.bandName}}" href="/bands/{{item.bandID}}/competency">{{item.bandName}}</a></h5>
            </div>
        {% endfor %}
    </div>
{% endblock %}