{% extends "template.njk" %}

{% block content %}
    <div class="container">
        <h5 class="title"><span id="band-title">Bands</span></h5>
        <div class="divider"></div>
        {% for item in items %}
            <div class="section">
                <h5 class="sub-heading-blue"><a id="bands-{{item.bandName}}" href="/bands/{{item.bandID}}/competency">{{item.bandName}}</a></h5>
            </div>
        {% endfor %}
    </div>
{% endblock %}