{% extends "template.njk" %}

{% block head %}
    <title>Home | Kainos</title>
{% endblock %}

{% block content%}
    <div>
        <div class="container">
            <div class="row">
                <div class="col s4">
                    <a href="/job-roles">
                        <div class="card-panel hoverable card-style">
                            <div class="row card-row">
                                <div class="col s4">
                                    <i class="material-icons" style="font-size: 50px">work</i>
                                </div>
                                <div class="col s8">
                                    <p id="Jobs">Jobs</p>
                                </div>
                            </div>

                        </div>
                    </a>
                    <a href="#">
                        <div class="card-panel hoverable card-style">
                            <div class="row card-row">
                                <div class="col s4">
                                    <i class="material-icons" style="font-size: 50px">badge</i>
                                </div>
                                <div class="col s8">
                                    <p>Capability</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s4">
                    <a href="#">
                        <div class="card-panel hoverable card-style">
                            <div class="row card-row">
                                <div class="col s4">
                                    <i class="material-icons" style="font-size: 50px">fitness_center</i>
                                </div>
                                <div class="col s8">
                                    <p>Training</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col s4">
                    <a href="#">
                        <div class="card-panel hoverable card-style">
                            <div class="row card-row">
                                <div class="col s4">
                                    <i class="material-icons" style="font-size: 50px">groups</i>
                                </div>
                                <div class="col s8">
                                    <p>Band</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock%}