{% extends "template.njk" %}

{% block content %}
    <div class="container">
        <h3 id="roleName" style="color:#575756">{{role.roleName}}</h3>
        <h5><span style="color:#41679f">Band Level: </span><span id="bandName" style="color:#575756">{{band.bandName}}</span></h5>

        <div class="divider"></div>

        <h5><span id="responsibilityTitle">Role Responsibilities</span></h5>
        <ul>
            {% for responsibility in role.jobResponsibilities %}
                <li class="responsibility-list"> 
                    {{responsibility}}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}